* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.banner{
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set the body height to 100% of the viewport height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('media/home_background.jpg'); /* Replace 'path/to/your/banner-image.jpg' with the actual path to your image */
    background-size: cover; /* This ensures that the image covers the entire body */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    position: fixed; /* Fixed positioning ensures it stays in place while scrolling */
    top: 0; /* Position at the top of the viewport */
    right: 0; /* Position at the right of the viewport */
    background-color: #333; /* Set background color */
    padding: 10px; /* Add padding for better visibility */
    z-index: 1000; /* Set z-index to ensure it appears above other elements */
    /* Add any other styles you need */
  }



.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #9900ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

