* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.banner{
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set the body height to 100% of the viewport height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('media/home_background.jpg'); /* Replace 'path/to/your/banner-image.jpg' with the actual path to your image */
    background-size: cover; /* This ensures that the image covers the entire body */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
